/*
document.documentElement.style .setProperty('--my-variable-name', 'pink');
or
element.style.setProperty("--my-var", jsVar + 4);
*/


/*  transition: all .07s ease; Combine with pseudo-classes? */

body {
  --accent-color: 200, 60%, 30%; 
  background-color: #CCC;
  /*background: linear-gradient(165deg, #CCC, #444);*/
  color: #222;
  font-family: "American Typewriter", FreeMono, monospace;
}

h1 {
  text-shadow: 2px 2px 2px hsla(var(--accent-color), 0.7); 
  margin-left: 8px;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: row;
  flex: auto;
  flex-wrap: wrap;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#results {
  font-weight: bold;
  width: 200px;
  height: 100px;
  border-right:  1px solid #FFF; 
  border-bottom: 1px solid #FFF;
  border-left: 1px solid #444;
  border-top: 1px solid #444;
  border-radius: 0px;
  /*box-shadow: -1px -1px 0px #444;*/
  background-color: #CCC;
  padding: 4px;
  border-radius: 3px;
  text-align: center;
  margin: 1px;
}

button {
  background-color: white;
  border: 1px solid #222;
  border-radius: 3px;
  box-shadow: 1px 1px 0px #222;
  margin: 1px;
  /*font-family: cursive;*/
  /*font-family: monospace;*/
}

.labels {
  font-weight: bold;
}

.frames {
  background-color: #DDD;
  border: 2px solid hsla(var(--accent-color), 1);
  border-radius: 4px;
  padding: 4px;
  width: 225px;
  margin: 8px;
  box-shadow: 4px 4px 4px hsla(var(--accent-color), 0.4);
}

.frames:focus-within {
  background-color: #EEE;
  box-shadow: 4px 4px 4px hsla(var(--accent-color), 0.8);
}


